* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #080b1d;
    color: white;
}

.container {
    width: 92%;
    max-width: 1200px;
    margin: 30px auto;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header h1 {
    font-size: 30px;
    margin-bottom: 5px;
    color: white;
}

.header p {
    color: #a5acd6;
}

.add-btn {
    background: #6c5ce7;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.add-btn:hover {
    background: #7c6ff0;
    transform: translateY(-2px);
}


/* Top Bar */

.top-bar {
    background: #151936;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #282d52;

    display: flex;
    gap: 15px;
}

.top-bar input,
.top-bar select {
    padding: 12px;
    border: 1px solid #282d52;
    border-radius: 7px;
    outline: none;
    background: #10132d;
    color: white;
}

.top-bar input::placeholder {
    color: #777da5;
}

.top-bar input:focus,
.top-bar select:focus {
    border-color: #6c5ce7;
    box-shadow: 0 0 0 2px rgba(108, 92, 231, 0.2);
}

.top-bar input {
    width: 300px;
}


/* Table */

.table-box {
    background: #151936;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
    border: 1px solid #282d52;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 900px;
}

th,
td {
    padding: 15px;
    border-bottom: 1px solid #282d52;
    text-align: left;
}

th {
    background: #10132d;
    color: white;
}

td {
    color: #d8daf0;
}

tr:hover {
    background: #1d2145;
}


/* Status */

.status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.available {
    background: #243b35;
    color: #86efac;
}

.occupied {
    background: #4a292f;
    color: #fca5a5;
}

.maintenance {
    background: #4a3d20;
    color: #fde68a;
}


/* Action Buttons */

td button {
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 2px;
    font-weight: bold;
    transition: 0.3s;
}

.view-btn {
    background: #6c5ce7;
}

.edit-btn {
    background: #6c5ce7;
}

.delete-btn {
    background: #7f1d1d;
}

.view-btn:hover,
.edit-btn:hover {
    background: #7c6ff0;
}

.delete-btn:hover {
    background: #991b1b;
}


/* Responsive */

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .top-bar {
        flex-direction: column;
    }

    .top-bar input {
        width: 100%;
    }
}